@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Default Light Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme */
[data-theme='dark'] {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
}

/* Use variables in your app */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

